#icerik2
{
	
}
#gbk
{
	text-decoration:underline;
	color: red;
	font-size: 16pt;
	font-style: normal;
	margin-top: 60px;
	margin-left: 22%;
}
#baslik
{
	font-size: 13pt;
	margin-left: 22%;
	margin-top: 30px;
	
}
#aciklama
{
	font-style: oblique;
	color:#494949;
	font-size: 13pt;
	margin-left: 22%;
	margin-top: 30px;
}
#aciklamar
{
	position: relative;
	margin-top:30px;
	border-radius: 10px;
	width: 25%;
	height: 300px;
	margin-left: 37%;
}