#gk1
{
	text-decoration:underline;
	color: red;
	font-size: 16pt;
	font-style: normal;
	margin-top: 60px;
	margin-left: 16%;
}
#gr
{
	display: block;
	width: 8%;
	height: 200px;
	margin-left: 16%;
	margin-top:20px;
}
#a1
{
	position: relative;
	margin-left: 25%;
	margin-top: -10%;
}
#a2
{
	position: relative;
	margin-left: 25%;
	margin-top: 0.5%;
}
#a3
{
	position: relative;
	margin-left: 25%;
	margin-top: 0.5%;
	word-spacing: 4px;
	font-size: 12pt;
}
#a4
{
	position: relative;
	margin-left: 25%;
	margin-top: 0.5%;
	word-spacing: 4px;
	font-size: 12pt;
}
#a5
{
	position: relative;
	margin-left: 16%;
	margin-top: 0.5%;
	word-spacing: 4px;
	font-size: 12pt;
}
#a6
{
	position: relative;
	margin-left: 16%;
	margin-top: 0.5%;
	word-spacing: 3px;
	font-size: 12pt;
}
#a7
{
	position: relative;
	margin-left: 16%;
	margin-top: 0.5%;
	word-spacing: 3px;
	font-size: 12pt;
}
#a8
{
	position: relative;
	margin-left: 16%;
	margin-top: 0.5%;
	word-spacing: 3px;
	font-size: 12pt;
}