#baslik 
{
	position: fixed; top: 0px;
	margin-right: 50px;
	text-decoration:none;
	background-color:black;
	width: 100%;
	color:white;
	border-radius:0px;
	display:block;
	line-height:50px;
	padding:5px;
	text-align:center;
	letter-spacing:2px;
	border:2px solid black;
	font-weight:bold;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size:52px;
}
#icerik
{
	width: 100%;
	height: 1000px;
	border: 2px double black;
	background-color:black;
	padding: -20px;
	line-height:40px;
	font-size:23px;
}
#baslik li
{
	
	list-style-type:none; float:left; width:200px; height: 30px; margin-left:20px; padding:0px; font-size: 20px; margin-top: 40px; 
}