@media screen and (max-width: 600px)
{
	#baslik
	{
		height: 0px;
		background-color:pink;
		width: 100%;
		display:block;
		text-align:center;
		border:2px solid black;
		font-weight:bold;
		font-family:Cambria, "Hoefler Text", "Liberation Serif","Times", "Times New Roman", "serif";
	}
	baslik ul
	{
	margin-left:0px; margin-top: -60px;
	}
	#baslik li
	{
	list-style-type:none; float:left; width:-400%; height: 30px; margin-left:20px; display: block;
	}
	#bar
	{
	scrollamount="50"
	background-color:black;
	margin-top: 126px;
	display: block;
	width: 100%;
	color: white;
	}
	#logo
	{
	margin-top: 5%;
	margin-left: 1%;
	display: block;
	height: 120px;
	width: 120px;
	background-color: black;
	}
	#linkler
	{
		display: block;
		margin-top: -25%;
	}
	#icerik1
	{
	width: 200%;
	}
}

@media screen and (max-width: 670px)
{
	#baslik
	{
		height: 0px;
		background-color:pink;
		width: 100%;
		display:block;
		text-align:center;
		border:2px solid black;
		font-weight:bold;
		font-family:Cambria, "Hoefler Text", "Liberation Serif","Times", "Times New Roman", "serif";
	}
	baslik ul
	{
	margin-left:0px; margin-top: -60px;
	}
	#baslik li
	{
	list-style-type:none; float:left; width:-400%; height: 30px; margin-left:20px; display: block;
	}
	#bar
	{
	background-color:black;
	margin-top: 126px;
	display: block;
	width: 100%;
	color: white;
	}
	#logo img
	{
		margin-top: -8%;
	}
	#logo
	{
	margin-top: -40%;
	margin-left: 1%;
	display: block;
	height: 120px;
	width: 120px;
	background-color: black;
	}
	#linkler
	{
		display: block;
		margin-top: -25%;
	}
}

@media screen and (max-width: 700px)
{
	#baslik
	{
		height: 0px;
		background-color:pink;
		width: 100%;
		display:block;
		text-align:center;
		border:2px solid black;
		font-weight:bold;
		font-family:Cambria, "Hoefler Text", "Liberation Serif","Times", "Times New Roman", "serif";
	}
	baslik ul
	{
	margin-left:0px; margin-top: -60px;
	}
	#baslik li
	{
	list-style-type:none; float:left; width:-400%; height: 30px; margin-left:20px; display: block;
	}
	#bar
	{
	background-color:black;
	margin-top: 126px;
	display: block;
	width: 100%;
	color: white;
	}
	#logo
	{
	margin-top: 8%;
	margin-left: 1%;
	display: block;
	height: 120px;
	width: 120px;
	background-color: black;
	}
	#linkler
	{
		display: block;
		margin-top: -25%;
	}
}