@media only screen and (max-width: 575px)
{
	.rw
	{
		margin-left: -80%;
		width: 60%;
	}
	.uyee
	{
		height: 30px;
	}
}

@media only screen and (max-width: 650px)
{
	.rw
	{
		margin-left: -20%;
		width: 100%;
	}
}
@media only screen and (max-width: 975px)
{
  .taslak2 .yazi
	{
		margin-left: 10%;
	}
}


@media only screen and (min-width: 1629px)
{
	#uye
	{
		
		
	}
	#uye2
	{
		width: 100%;
	}
}