*
{
	margin: 0px;
	padding: 0px;
}
html
{
	background-color: black;
	overflow-x: hidden;
}
.baslik 
{
	height: 0px;
	background-color:black;
	width: 100%;
	display:block;
	text-align:center;
	border:2px solid black;
	font-weight:bold;
	font-family:Cambria, "Hoefler Text", "Liberation Serif","Times", "Times New Roman", "serif";
}
#icerik
{
			overflow: hidden;
			width: 99%;
			height: 100%;
			border: 2px double black;
			background-color:black;
			padding: -20px;
			line-height:40px;
			font-size:23px;
}
#bar
{
	background-color:black;
	margin-top: 126px;
	display: block;
	width: 100%;
	color: white;
}