#urun1
{
	margin-top: 1%;
	height: 600px;
	width: 350px;
	border: 2px solid black;
}
#urun2
{
	margin-left: 30%;
	margin-top: -46.3%;
	height: 600px;
	width: 350px;
	border: 2px solid black;
	position: relative;
}
#urun3
{
	margin-left: 60%;
	margin-top: -46.3%;
	height: 600px;
	width: 350px;
	border: 2px solid black;
	position: relative;
}
#urun4
{
	margin-top: 2%;
	height: 600px;
	width: 350px;
	border: 2px solid black;
}
#urun5
{
	margin-left: 30%;
	margin-top: -46.3%;
	height: 600px;
	width: 350px;
	border: 2px solid black;
	position: relative;
}
#urun6
{
	margin-left: 60%;
	margin-top: -46.3%;
	height: 600px;
	width: 350px;
	border: 2px solid black;
	position: relative;
}
*
{
	margin: 0px;
	padding: 0px;
}
html
{
	background-color: white;
	overflow-x: hidden;
}
#baslik 
{
	height: 0px;
	background-color:black;
	width: 100%;
	display:block;
	text-align:center;
	border:2px solid black;
	font-weight:bold;
	font-family:Cambria, "Hoefler Text", "Liberation Serif","Times", "Times New Roman", "serif";
}
#baslik ul
{
	margin-left: 200px; margin-top: -30px;
}
#baslik li
{
	list-style-type:none; float:left; width:200px; height: 30px; margin-left:20px;
}
#baslik ul li a
{
	display:block;
	text-decoration: none;
	letter-spacing: 2px;
	color: white;
	font-size:19px;
	position: relative;
}
#baslik img
{
	margin-top:10px;
	margin-left:-2620px;
	height: 100px;
	width: 120px;
}
#icerik
{
			overflow: hidden;
			width: 99%;
			height: 1940px;
			border: 2px double black;
			background-color:white;
			padding: -20px;
			line-height:40px;
			font-size:23px;
}
#bar
{
	background-color:black;
	margin-top: 126px;
	display: block;
	width: 100%;
	color: white;
}