#html
{
	background-color: white;
}
#icerik
{
	background-color: white;
	height:100%;
}
.numara
{
	font-size: 15pt;
	color:darkred;
	margin-left: 100px;
	margin-top: -26px;
	font-weight: bold;
}
.numara1
{
	font-size: 15pt;
	color:black;
	margin-left: 250px;
	margin-top: -32px;
}
.taslak2
{
	display: flex;
	gap:1rem;
	padding: 1rem;
	flex-wrap: wrap;
}
.yazi
{
	font-size: 21pt;
	font-weight: bold;
	color:black;
	margin-left: 750px;
	margin-top: 20px;
}
#yazi1
{
	font-size: 21pt;
	font-weight: bold;
	color:black;
	margin-left: 750px;
	margin-top: 20px;
}
#yazi2
{
	font-size: 11pt;
	font-weight: bold;
	color:black;
	margin-left: 20px;
	margin-top: 20px;
}
.yazi3
{
	font-size: 11pt;
	color:black;
	margin-left: 20px;
	margin-top: -10px;
}
.yazi4
{
	font-size: 11pt;
	font-weight: bold;
	color:black;
	margin-left: 20px;
	margin-top: -20px;
}