#nsn
{
	margin-top: 2px;
	border: 1px solid black;
	height: 180px;
	display: block;
	width: 32%;
	margin-left: 68%;
}
#nsn1
{
	display: block;
	font-size: 11pt;
	margin-left: 10px;
	width: 55%;
}
#yanresim2
{
	margin-top: -35px;
	display: block;
	margin-left: 363px;
	height: 170px;
	width: 13%;
}
#nsn2
{
	margin-top: 110px;
	display: block;
	margin-left: 10px;
	width: 55%;
	font-size: 11pt;
	font-style: normal;
}