#yataymenu
{
	display: block;
	margin-left: 420px; margin-top: -90px;
}
#yataymenu li
{
	display: block;
	list-style-type:none; float:left; margin: 50px; height: 30px; margin-left:20px; padding:0px;
}
#yataymenu ul li a
{
	display:block;
	text-decoration: none;
	letter-spacing: 2px;
	color: white;
	position: relative;
}
#yataymenu ul li ul
{
	display: none;
}
#yataymenu ul li:hover ul
{
	display: block;
}